*{
    padding: 0px;
    margin: 0px;
}
/* css de la pagina */

body{
    position: relative;
}

header{
    width: 100%;
    height: 150px;
    position: relative;
}


header h1{
    font-family: Hatton, serif;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 100px;
}

header h3{
    font-family: OpenSauce;
    position: absolute;
    top: 62%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.534);
    font-size: 17px;
    font-weight: 400;
}

header img{
    position: absolute;
    width: 200px;
    height: 110px;
    top: 20%;
    right: 5%;

}

.cuadroPapa{
    width: 100%;
    height: 10px;
}

.cuadrado{
    position: absolute;
    top: 195px;
    left: 50%;
    transform: translate(-50%, -50%);   
    background: linear-gradient(-45deg, #000000, #3331c4, #000000, #3331c4);
	background-size: 400% 400%;
	animation: gradient 5s cubic-bezier(0.4, 0, 1, 1) infinite;
    width: 1095px;
    height: 335px;
    border-radius: 36px;
    animation-fill-mode: both;
    -webkit-box-shadow: 10px 10px 102px -36px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 102px -36px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 102px -36px rgba(0,0,0,0.75);
    transition: 500ms;
}

 .cuadrado:hover{
    top: 190px;
    transition: 500ms;
}

.cuadrado img{
    position: absolute;
    top: -12%;
    left: 54%;
    height: 500px;
    width: 500px;
}

.cuadrado h2{
    position: absolute;
    color: white;
    font-family: OpenSauce;
    top: 40%;
    left: 68px;
}

h3 {
    position: absolute;
    color: white;
    font-family: OpenSauce;
    top: 65%;
    left: 67px;
    font-weight: 700;
    font-size: 13px;
}


.cuadrado p{
    position: absolute;
    color: white;
    font-family: OpenSauce;
    top: 34%;
    left: 69px;
}


.Para_ti{
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 457px;
}


.Para_ti p{
    position: absolute;
    font-family: Hatton;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 47px;
    font-weight: lighter;
    color: black;
}

.Para_ti h4{
    position: absolute;
    font-family: 'OpenSauce';
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 31px;
    font-weight: 700;
    color: black;
    text-align-last: center;
}

.Para_ti b{
font-weight: 500;
}

.Para_ti button{
    position: absolute;
    font-family: 'OpenSauce';
    top: 91%;
    left: 50%;
    height: 40px;
    width: 150px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align-last: center;
    background: #25231e;
}


.casa{
    position: absolute;
    top: 95%;
    height: 280px;
    right: 0px;
    width: 270px;
    border-radius: 36px 0px 0px 36px;
    -webkit-box-shadow: 8px 1px 28px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 1px 28px 3px rgba(0,0,0,0.75);
    box-shadow: 8px 1px 28px 3px rgba(0,0,0,0.75);
}

.casaG{
    position: absolute;
    top: 25%;
    border-radius: 0px 36px 36px 0px;
    width: 325px;
    height: 285px;
    -webkit-box-shadow: 8px 1px 28px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 1px 28px 3px rgba(0,0,0,0.75);
    box-shadow: 8px 1px 28px 3px rgba(0,0,0,0.75);
}


.Para_ti h5{
    position: absolute;
    font-family: 'Hatton';
    top: 186%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: normal;
    color: #ffffff;
    text-align-last: center;
    z-index: 2;
}
.blur{
    height: 350px;
    width: 748px;
    filter: brightness(0.1);
    position: absolute;
    top: 185%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 36px;
    background-color: #000000c7;
    z-index: 1;
}
.Servicio1{
    height: 350px;
    width: 748px;
    filter: blur(3px);
    position: absolute;
    top: 185%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 36px;
}

.preefooter{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 750px;
    width: 100%;
    height: 750px;
    gap: 20px;
}

.carta1{
    height: 399px;
    width: 343px;    font-family: 'Hatton';
    border-radius: 25px;
    background: #ecedef;
    z-index: 1;
}

.carta2{
    height: 399px;
    width: 343px;    font-family: 'Hatton';
    border-radius: 25px;
    background: #ecedef;
    z-index: 1;
}

.carta3{
    height: 399px;
    width: 343px;    font-family: 'Hatton';
    border-radius: 25px;
    background: #ecedef;
    z-index: 1;
}

.carta1:hover{
    color: #000000;
}

.carta2:hover{
    color: #c3c5c9;
}

.carta3:hover{
    color: #c3c5c9;
}
.carta1 img{
    height: 249px;
    width: 344px;
    border-radius: 20px;
    background: #ecedef;
}

.carta2 img{
    height: 249px;
    width: 344px;
    border-radius: 20px;
    background: #ecedef;
}

.carta3 img{
    height: 249px;
    width: 344px;
    border-radius: 20px;
    background: #ecedef;
}

.carta1 h6{
    color: black;
    margin-top: 11px;
    font-size: 26px;
    margin-left: 31px;    
}

.carta2 h6{
    color: black;
    margin-top: 11px;
    font-size: 26px;
    margin-left: 31px;    
}

.carta3 h6{
    color: black;
    margin-top: 11px;
    font-size: 26px;
    margin-left: 31px;    
}

.carta1 p{
    color: black;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 31px;    
    font-family: 'OpenSauce';
    font-weight: 400;
}

.carta2 p{
    color: black;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 26px;
    font-family: 'OpenSauce';
    font-weight: 400;
}

.carta3 p{
    color: black;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 31px;    
    font-family: 'OpenSauce';
    font-weight: 400;
}

.card-img-top{
    z-index: -1;
}

footer{
    width: 100%;
    bottom: -750px;
    position: absolute;
    height: 202px;
    background: #3E1E04;
    display: flex;
    justify-content: center;
}

.linea{
    width: 1400px;
    height: 1px;
    background-color: white;
    margin-top: 120px;
    position: absolute;
}

.socialMedia{
    width: 148px;
    height: 24.4px;
    position: absolute;
    top: 147.4px;
    left: 41.2%;
}

.socialMedia p{
    height: 30px;
    width: 156.2px;
    color: #ffffffb8;
}

.footerSlogan{
    width: 230px;
    height: 96.2px;
    position: absolute;
    left: 42.2px;
    top: 8.6px;
}

.footerSlogan img{
    height: 94.6px;
    width: 151.4px;
}

.footerSlogan p{
    color: white;
    font-size: 12.2px;
    font-family: 'OpenSauce';
    left: 29.4px;
    position: absolute;
    top: 81px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

